<nav class="navbar navbar-expand-lg bg-body-tertiary header" id="home">
    <div class="container">
         <a class="navbar-brand d-flex" href="#" >
            <img src="./favicon.png" alt="" class="logo-img-sm" > 
            <h4 class="mt-4 border-bottom">VK-project</h4></a>
         <button class="navbar-toggler border-0 btn pt-lg-0 pt-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
           <img src="/assets/img/menu.png" alt="" width="30%">
         </button>
         <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
           <div class="offcanvas-header">
             <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu</h5>
             <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
           </div>
           <div class="offcanvas-body">
             <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-bar-menu   ">
               <li class="nav-item  mt-3 me-4">
              <a class="nav-link active nav-bar-menu fw-bolder " aria-current="page"  target="_blank">Home</a>
               </li>
               <li class="nav-item mt-lg-3 me-4">
              <a class="nav-link nav-bar-menu  fw-bolder" href="#">Features</a>
               </li>
               <li class="nav-item  text-white mt-lg-3 me-4">
              <a class="nav-link active nav-bar-menu fw-bolder " aria-current="page" href="#">Demo</a>
               </li>
               <li class="nav-item mt-lg-3 me-4">
              <a class="nav-link active nav-bar-menu fw-bolder" aria-current="page" href="#">contact</a>
               </li>
             </ul> 
           </div>
         </div>
    </div>
  </nav>