
<body class="d-flex   justify-content-center align-items-center logincompoent">
    <div class="login-border rounded-3 mx-5 py-5 bg-transparent">
       <form  >
         <div class="mx-lg-5 mx-3 ">
          <h2 class="text-center text-white">Login Now</h2>
          <div class="fileld mt-3">
             <input type="text" placeholder="username " name="username"
             class="input-css rounded-4 px-3 border-0 bg-transparent w-100" [(ngModel)]="username"/>
          </div>
           <div class="input-box mt-3">
            <input type="password"   name="password"  placeholder="password" class=" input-css rounded-4 px-3 border-0 bg-transparent w-100" [(ngModel)]="password">
          </div>
          <div class="input-box my-2">
            <span class="text-danger" >
               {{errorMsg}} 
            </span>
          </div>
          <button class="w-100 btn bg-white fw-bold rounded-4 mt-3 " (click)="login()"  >Login</button>
        </div>
       </form>
    </div>
  
</body>