body{
    background: url(/assets/img/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.login-border{
    box-shadow: inset 0 0 15px 0 rgba(43, 22, 22, 0.08) !important;
    box-shadow: 0 0 15px 0 rgba(71, 26, 26, 0.3) !important;
    border: 1px solid white !important;
}
.input-css{
border: 1px solid white !important;
}
.input-css::placeholder{
   color: white;
}
