
<body class=" ">
    <div class="qrcode  py-5">
        <div class="container ">
            <div class="row py-5">
                <div class="col-lg-6 col-md-4 col-12">
                    <h2 class="text-white  py-4">What is a QR code?</h2>
                    <p  class="text-white"> QR Code is a two-dimensional version of the barcode, typically made up of black and white pixel patterns. Denso Wave, a Japanese subsidiary of the Toyota supplier Denso, developed them for marking components in order to accelerate logistics processes for their automobile production. Now, it has found its way into mobile marketing with the widespread adoption of smartphones. "QR" stands for "Quick Response", which refers to the instant access to the information hidden in the Code.</p></div>
                    <div class="col-lg-6 col-md-4 col-12">
                        <!-- <img src="./img/" width="100%"> -->
                    </div>
            </div>
        </div>
    </div>
  <div class=" d-flex justify-content-center align-items-center main">
     <div class="card px-3 py-3 bg-transparent  ">
        <div class="cardbody px-3 py-3">
            <p class="text-white fs-5">QR Code Conventer</p>
             <div class="">
                <input type="text" placeholder="paste the url"  class="bg-transparent rounded-2 py-1 w-100 mb-3" [(ngModel)]="qrdata"/>
                <qrcode [width]="200"(qrCodeURL)="onChangeURL($event)"  [qrdata]="qrdata">  </qrcode><br>
                <a [href]="qrCodeDownloadLink" download="qrcode" class="text-center">Download</a>
             </div>
         
            <!-- <div id="imgbox">
             <img [src]="qrImage" class="mx-3 py-3 ">
         </div>
         <button (click)="generateQR()" class="btn  rounded-2 border w-100 text-white ">QR code genra</button>
         -->
         </div>
     </div>
  </div>
</body>