/* You can add global styles to this file, and also import other style files */

.logincompoent{
    background: url(/assets/img/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;   
}