<body>
    <div class="container">
        <div class="row">
        <div class="col-12 col-lg-6 col-md-6">
            <div class="card">
                <div class="cardbody">
                    QR code Genarater
                    <button (click)="qrcode()"> click</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-md-6">
            <div class="card">
                <div class="cardbody">
                    currentcy 
                    <button  (click)="currentcy()"> click</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
